.equipes-card {
   border: 1px solid #BBB;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   max-height: 250px;
   border-radius: 5px;
}
.equipes-card > h4,
.equipes-card > p {
   margin: 0.2rem;
}
.equipes-image {
   width: 100%;
   object-fit: cover;
   border-radius: 5px;
}
.equipes-card .components-placeholder {
   box-shadow: unset !important
}